@{
    ViewData["Title"] = "Future Value";
}
<h2>About Future Value</h2>

<img src="~/images/cashThumbnail.png" alt="bag of cash" style="border-radius:20px;width:100%;float:right;" class="col-md-4" />

<p>
    Future Value calculates the future value of your investment based on your initial
    investment, interest rate, and time.
</p>
<p>
    Please feel free to  <a asp-action="Contact">contact</a> us with any questions, concerns, or suggestions.
</p>
<p>
    <a asp-action="Index">Calculate Future Value</a>
</p>

