@{
    ViewData["Title"] = "Future Value";
}
<h2>Future Value</h2>
<h3>The Best Investors In Town</h3>

<img src="~/images/cashThumbnail.png" alt="bag of cash" style="float:right;" class="img-fluid rounded" />

<address>
    1234 Someroad<br />
    Anytown, MI 43210<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:someemail.com">someemail.com</a><br />
    <abbr title="Phone">Phone:</abbr>
    231.123.4567
</address>

<p>
    <a asp-action="Index">Calculate Future Value</a>
</p>
