body {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: green;
}

h1 {
    margin-top: 0;
    color: navy;
}

label {
    display: inline-block;
    width: 10em;
    padding-right: 1em;
}

div {
    margin-bottom: .5em;
    background-color: black;
    color: green;
}

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    margin-bottom: 0;
}